.headerClass {
    width: 98%;
    height: 4rem;
    border: 1px solid lightgrey;
    padding-left: 2rem;
    background-color: #fff;
}

.logoClass {
    height: 4rem;
}

.loginForm {
    width: 38%;
    height: 35rem;
    border: 1px solid lightgrey;
    background-color: #fff;
    margin-top: 4rem;
    border-radius: 10px;
}

h3,
h6 {
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

h6 {
    margin-top: 10px;
    color: grey;
}

.signupClass {
    color: red;
    cursor: pointer;
}

.signupClass:hover {
    text-decoration: underline;
}

.noteClass {
    width: 80%;
    height: 3rem;
    margin: auto;
    background-color: #F2F2F2;
    padding-left: 20px;
    color: black;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid darkgrey;
}

.noteParaClass {
    margin-left: 2.4rem;
    display: inline-flex;
    margin-top: -28px;
    float: left;
    word-wrap: break-word;
}

.noteParaClass1 {
    margin-left: 1rem;
    display: inline-flex;
    margin-top: 15px;
    float: left;
    word-wrap: break-word;
}

.inputClass {
    width: 80%;
    height: 2.7rem;
    margin: auto;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid darkgrey;
}

.inputTypeClass {
    width: 98%;
    margin-top: 5px;
    height: 2rem;
    border: 0;
    font-size: 20px;
}

.inputTypeClass:focus {
    border: 0;
    outline: none;
}

.infoLogoClass {
    margin-top: 12px;
    float: left;
}

.credentialsClass {
    font-size: 12px;
    color: grey;
    margin-left: 3rem;
}

.nhsClass {
    width: 80%;
    height: 3rem;
    margin: auto;
    background-color: darkblue;
    padding-left: 20px;
    color: white;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid darkblue;
    text-align: center;
    clear: both;
}

.loginButtonClass {
    width: 6rem;
    height: 2.5rem;
    color: #fff;
    background-color: #c54b8c;
    border-radius: 10px;
    border: 1px solid #c54b8c;
    margin-top: 1rem;
    margin-left: 3rem;
    float: left;
}

.forgotPasswordClass {
    color: #000;
    font-size: 12px;
    display: inline;
    float: left;
    margin-left: 2rem;
    cursor: pointer;
    margin-top: 1.7rem;
    margin-bottom: 3rem;
}

.forgotPasswordClass:hover {
    text-decoration: underline;
}

.nhsLogoClass {
    margin-top: 1.1rem;
    margin-right: 5px;
}

.contentForm {
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

@media screen and (max-width: 600px) {
    .contentForm {
        margin-left: 5%;
        margin-right: 5%;
    }

    .loginForm {
        width: 90%;
        margin-top: 2rem;
        height: 34rem;
    }

    .noteParaClass {
        word-wrap: break-word;
        margin-left: 2rem;
        margin-top: -28px;
    }

    .noteParaClass1 {
        word-wrap: break-word;
        margin-left: 2rem;
        margin-top: -28px;
    }

    .credentialsClass {
        margin-left: 1.5rem;
    }

    .loginButtonClass {
        margin-left: 1.5rem;
    }

    .headerClass {
        width: 91%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .contentForm {
        margin-left: 5%;
        margin-right: 5%;
    }

    .loginForm {
        width: 90%;
        margin-top: 2rem;
    }

    .noteParaClass {
        word-wrap: break-word;
        margin-left: 2rem;
        margin-top: 15px;
    }

    .credentialsClass {
        margin-left: 4rem;
    }

    .loginButtonClass {
        margin-left: 4rem;
    }

    .headerClass {
        width: 100%;
    }
}

@media screen and (min-width: 530px) and (max-width: 750px) {
    .credentialsClass {
        margin-left: 3.5rem;
    }

    .loginButtonClass {
        margin-left: 3.5rem;
    }

    .noteParaClass {
        word-wrap: break-word;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .credentialsClass {
        margin-left: 2.5rem;
    }

    .loginButtonClass {
        margin-left: 2.5rem;
    }
}